li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
input {
  border-radius: 8px;
  border: 1px solid grey;
  height: 40px;
  font-size: 14pt;
  padding: 6px;
}
body {
  background: url("./Rect\ Light.svg");
}
.navcontainer {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  .navbar1 {
    background-color: #344955;
    border-radius: 3em;
    padding-inline: 2em;
    padding-top: 1em;
    ul {
      padding: 0;
      display: flex;
      a {
        color: white;
        text-decoration: none;
        display: block; //has to be added for padding to work
        padding: 0 1em;
      }
    }
  }
}

// login page
.login {
  background-color: rgb(246, 246, 246);
  margin-top: 2em;
  margin-inline: 1em;
  padding: 2em;
  border-radius: 8px;

  h1 {
    margin-bottom: 2em;
  }
  input {
    margin-bottom: 1em;
    width: 82%;
  }
  button {
    width: 82%;
  }
}
#logo {
  text-align: center;
  padding-left: 2em;
}

.close-modal {
  position: absolute;
  margin-top: -70px;
  right: 0.5rem;
  font-size: 4rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  background-color: white;
  padding: 3em;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 15;
  h3 {
    text-align: center;
    margin-bottom: 1em;
  }
  input {
    margin-bottom: 1em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 10;
}
.tagline {
  display: none;
}
.hidden {
  display: none;
}

.usercontainer {
  margin-left: 1.6em;
  margin-top: 2.6em;
  float: left;
}

.propic {
  width: 6em;
  margin-top: 2em;
  float: right;
  margin-right: 1em;
}

.sect1 {
  margin-top: 16em;
  margin-inline: 1em;
}

.sect2 {
  display: grid;
  gap: 10px;
  margin-top: 2em;
  margin-inline: 1em;
}
.item1 {
  grid-row-start: 1;
}
.item2 {
  grid-row-start: 1;
}
.item3 {
  grid-row-start: 1;
}

.cont {
  border-radius: 8px;
}
.head {
  border-radius: 8px 8px 0 0;
  text-align: right;
  p {
    font-size: 20px;
    padding: 0.4em 0.8em 0.4em 0.4em;
  }
}
.body {
  text-align: center;
  p {
    padding: 0.4em;
    padding-block: 2em;
    font-size: 22px;
  }
}

/////////////

@media only screen and (min-width: 800px) {
  #welc {
    margin-left: 2em;
  }
  .login {
    margin-inline: 10em;
    margin-top: 10em;
  }
  .modal1 {
    margin-top: 5em;
    width: 80%;
    h1 {
      padding-bottom: 1em;
    }
  }
  .sect1 {
    margin-inline: 2em;
  }
  .propic {
    margin-right: 2em;
  }
  .sect2 {
    margin-inline: 2em;
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    text-align: left;
  }
  .login {
    margin-inline: 12em;
    margin-top: 10em;
  }
  .modal1 {
    margin-top: 5em;
    width: 80%;
    h1 {
      padding-bottom: 1em;
    }
  }
}
@media only screen and (min-width: 1200px) {
  #logo {
    padding-left: 2.8em;
  }
  .login {
    margin-left: 35em;
    margin-right: 5em;
    margin-top: 10em;
    float: right;
  }
  .modal1 {
    margin-top: 7em;
    width: 88%;
    h1 {
      padding-bottom: 1em;
    }
  }
  .tagline {
    h1 {
      font-size: 3em;
    }
    margin-top: 28.5em;
    margin-left: 5em;
    position: absolute;
    display: block;
  }
}
@media only screen and (min-width: 1400px) {
  #logo {
    padding-left: 5em;
  }
  .tagline {
    padding-left: 3.8em;
  }
  .login {
    margin-right: 9em;
  }
  .modal1 {
    margin-top: 7em;
    width: 60%;
    h1 {
      padding-bottom: 1em;
    }
  }
}
