li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

input {
  border-radius: 8px;
  border: 1px solid grey;
  height: 40px;
  font-size: 14pt;
  padding: 6px;
}

body {
  background: url("./Rect Light.svg");
}

.navcontainer {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navcontainer .navbar {
  background-color: #344955;
  border-radius: 3em;
  padding-inline: 2em;
  padding-top: 1em;
}

.navcontainer .navbar ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navcontainer .navbar ul a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 1em;
}

.login {
  background-color: #f6f6f6;
  margin-top: 2em;
  margin-inline: 1em;
  padding: 2em;
  border-radius: 8px;
}

.login h1 {
  margin-bottom: 2em;
}

.login input {
  margin-bottom: 1em;
  width: 82%;
}

.login button {
  width: 82%;
}

#logo {
  text-align: center;
  padding-left: 2em;
}

.close-modal {
  position: absolute;
  margin-top: -70px;
  right: 0.5rem;
  font-size: 4rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal1 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 96%;
  background-color: white;
  padding: 3em;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 15;
}

.modal1 h3 {
  text-align: center;
  margin-bottom: 1em;
}

.modal1 input {
  margin-bottom: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 10;
}

.tagline {
  display: none;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 800px) {
  .login {
    margin-inline: 10em;
    margin-top: 10em;
  }
  .modal1 {
    margin-top: 5em;
    width: 80%;
  }
  .modal1 h1 {
    padding-bottom: 1em;
  }
}

@media only screen and (min-width: 1000px) {
  #logo {
    text-align: left;
  }
  .login {
    margin-inline: 12em;
    margin-top: 10em;
  }
  .modal1 {
    margin-top: 5em;
    width: 80%;
  }
  .modal1 h1 {
    padding-bottom: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  #logo {
    padding-left: 2.8em;
  }
  .login {
    margin-left: 35em;
    margin-right: 5em;
    margin-top: 10em;
    float: right;
  }
  .modal1 {
    margin-top: 7em;
    width: 88%;
  }
  .modal1 h1 {
    padding-bottom: 1em;
  }
  .tagline {
    margin-top: 28.5em;
    margin-left: 5em;
    position: absolute;
    display: block;
  }
  .tagline h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1400px) {
  #logo {
    padding-left: 5em;
  }
  .tagline {
    padding-left: 3.8em;
  }
  .login {
    margin-right: 9em;
  }
  .modal1 {
    margin-top: 7em;
    width: 60%;
  }
  .modal1 h1 {
    padding-bottom: 1em;
  }
}
/*# sourceMappingURL=main.css.map */